<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "PhoenixTodo" %></h1>
  <p>walter's todo tutorial</p>
</section>

<section class="row">
  <article class="column">
    <h2>Navigate</h2>
    <ul>
      <li><%= link "User List", to: Routes.user_path(@conn, :index) %></li>
      <li><%= link "Todo List", to: Routes.todo_path(@conn, :index) %></li>
    </ul>
  </article>
</section>
